* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

li {
    display: inline;
    padding: 0 20px 0 20px;
    font-size: 15px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url(mardi-gras-background.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-box {
    border: dotted 4px black;
    border-radius: 25px;
    background-image: radial-gradient(yellow, purple);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

button {
    border: ridge 2px black;
    border-radius: 25px;
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px 20px;
    font-size: 10px;
    position: relative;
    margin: auto auto auto auto;
}

button:hover, button:focus {
    background-image: radial-gradient(yellow, purple);
    color: black;
}

.pics {
    margin: 20px auto 20px auto;
}

.box {
    font-size: 15px;
}

.new-box {
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.submit-answer {
    margin-top: 20px;
}

.radio {
    margin-top: 25px;
}

.correction {
    margin: auto auto 25px auto;
}

.results-pic {
    margin: 0 0 0 0;
}

@media screen and (min-width: 500px ) {

    .center-box {
        width: 500px;
    }

    button {
        width: 150px;
        padding: 10px 20px;
        font-size: 15px;
    }

    .progress-bar {
        margin-top: 20px;
    }

}

@media screen and (min-width: 800px) {

    body {
        padding: 10px 50px 0px 50px;
    }

    .progress-bar {
        margin-top: 40px;
    }

    .center-box {
        width: 600px;
    }

    .box {
        font-size: 25px;
    }

    button {
        width: 200px;
        padding: 10px 20px;
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }
    
}